/* Lazy man's CSS reset by 
   https://dev.to/hankchizljaw/a-modern-css-reset-6p3
============================================================= */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* My Styles 
============================================================= */

/* My Reset */

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

h1, h2, h3, 
h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: .5rem 0 1rem 0;
}


/* Flex */

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col,
.col-auto {
  flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 600px){
  .col {
    flex: 1;
    padding: .5rem;
  }

  .col-auto {
    flex: 0 0 auto;
    width: auto;
  }
}


/* Buttons */

.btn {
  border-radius: 1rem;
  text-align: center;
  padding: .5rem .75rem;
  border: none;
  outline: none;
}

.btn.btn-solid {
  background-color: #542659;
  color: white;
}

.btn.btn-outline {
  border: 1px solid #542659;
  color: white;
}

.btn.btn-solid:hover,
.btn.btn-solid:focus,
.btn.btn-solid:active,
.btn.btn-outline:hover,
.btn.btn-outline:focus,
.btn.btn-outline:active {
  background-color: #6d3573;
  color: white;
}


/* Dry BG/Text */

.nav,
.hero,
.footer {
  background-color: #542659; 
  color: white;
}

/* Navigation */

.nav {
  font-family: 'Montserrat', sans-serif;
}

.nav a.nav-logo,
.nav a.nav-logo:visited {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.nav a.nav-logo:hover,
.nav a.nav-logo:focus,
.nav a.nav-logo:active{
  color: rgba(255,255,255,0.75);
}

.nav a.nav-link,
.nav a.nav-link:visited {
  margin: 0 .25rem;
  color: rgba(255,255,255,0.75);
}

.nav a.nav-link:hover,
.nav a.nav-link:focus,
.nav a.nav-link:active{
  color: white;
}


/* Hero */

.hero {
  min-height: calc(50vh - 87px);
}